body {
    margin:  0;
}

.main-wrapper {
    background-color: sandybrown;
    height: 100vh;
    background-image: 
    linear-gradient( to bottom, #000b, #f005),
    url('https://picsum.photos/id/37/1000');
    background-repeat: no-repeat;
    background-size: cover;
    color: salmon;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}